.container{
  margin: 0 auto;
  max-width:80%;
  width:100%;
}

#results{
  display: flex;
}

.grid:nth-child(1){
  margin-right:10px;
  margin-bottom:20px;
}

#results img{
  max-width:100%;
  height:auto;
  border: 1px solid red;
}

.urls{
  margin-bottom:20px;
 word-break: break-all;
}

p.error{
  color:red;
  font-weight:bold;
  font-size:25px;
}


@media screen and (max-width:712px){
  #results{
    flex-direction: column;
  }

  .grid:nth-child(2){
    margin-right:10px;
    margin-bottom:10px;
  }

  h1{
    font-size:20px;
  }
}